* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 24px;
  font-family: "Sora", "Arial", sans-serif;
  letter-spacing: 0.03em;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: unset;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  letter-spacing: inherit;
}

.container {
  max-width: 1340px;
  margin: 0 auto;
  padding: 0 30px;
}

.header {
  padding: 1rem 0;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title-link {
  font-size: 1.25rem;
  font-weight: 700;
}

.header__nav-list {
  display: flex;
  gap: 2rem;
}

.header__nav-link {
  font-size: 1.24rem;
  font-weight: 600;
}

.btn {
  display: flex;
  font-size: 1.25rem;
  padding: 1rem 1.25rem;
  background-color: black;
  color: white;
  border-radius: 4px;
}