.btn {
  display: flex;
  font-size: 1.25rem;
  padding: 1rem 1.25rem;
  background-color: black;
  color: white;
  border-radius: 4px;
  transition: background-color ease-in 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #404040;
}