.header {
  padding: 1rem 0;
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 1.25rem;
  font-weight: 700;
}

.header__nav-list {
  display: flex;
  gap: 2rem;
}

.header__nav-link {
  font-size: 1.24rem;
  font-weight: 600;
}

.header__btn {
  gap: 8px;
}