.hero {
  padding: 60px 0;
}

.hero__wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  position: relative;
}

.hero__info {
  position: absolute;
  max-width: 600px;
}

.hero__title {
  font-size: 3rem;
  line-height: 1.16;
  margin: 0 0 2rem;
}

.hero__text {
  margin: 0;
}

.hero__title-regular-text {
  font-weight: 400;
}

.hero__title-bold-text {
  font-weight: 800;
}

.hero__title-outlined-text {
  color: transparent;
  -webkit-text-stroke: 2px black;
  font-weight: 800;
}

.hero__banner {
  grid-column: 2;
}